src/wpp/schemas/EndOfDayBalanceExtract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://isite.bankofscotland.co.uk/Schemas/EndOfDayBalanceExtract.xsd" targetNamespace="https://isite.bankofscotland.co.uk/Schemas/EndOfDayBalanceExtract.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xs:annotation>
		<xs:documentation>
		                                             
	</xs:documentation>
	</xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This schema can be downloaded from i|Site application at the URL
      https://isite.bankofscotland.co.uk/Schemas/EndOfDayBalanceExtract.xsd
    </xs:documentation>
  </xs:annotation>

  <!-- Include the supported IBL types -->
  <xs:include schemaLocation="IBLTypes.xsd"/>

  <xs:element name="EndOfDayBalanceExtract">
			<xs:annotation>
			<xs:documentation>
						This report is a sub set of Balance Detailed Report. This report provides the detailed information of closing balances of particular accounts
				</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportingDays">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReportingDay" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Date" type="IBLDateTypeRequired"/>
										<xs:element name="BalanceRecords">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BalanceRecord" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SortCode" type="IBLSortcodeTypeRequired"/>
																<xs:element name="AccountNumber" type="IBLSterlingAccountNumberType"/>
																<xs:element name="ClientRef" type="IBLFourteenCharsType"/>
																<xs:element name="LongName" type="IBLFortyCharsType"/>	<!-- SRM: changed from IBLThirtyNineCharsType because some account have 40 chars in long name -->
																<xs:element name="OverdraftLimit" type="IBLAmountTypeRequired"/>
																<xs:element name="OverdraftExpiryDate" type="IBLDateTypeRequired"/>
																<xs:element name="CurrentBalance" type="IBLAmountTypeRequired"/>
																<xs:element name="AvailableBalance" type="IBLAmountTypeRequired"/>
																<xs:element name="ForwardPostings" type="IBLAmountTypeRequired"/>
																<xs:element name="PersonalDetails">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PersonalDetail">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Title" type="IBLThirtyCharsType"/>
                                            <xs:element name="CustomerFullName" type="IBLOneHundredAndTwentyCharsType"/>
																						<xs:element name="FirstName" type="IBLThirtyCharsType"/>
																						<xs:element name="Surname" type="IBLThirtyCharsType"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TotalDebitInterestAccrued" type="IBLAmountTypeRequired"/>
																<xs:element name="TotalCreditInterestAccrued" type="IBLAmountTypeRequired"/>
																<xs:element name="TaxStatus" type="IBLOneCharTypeRequired"/>
																<xs:element name="NetInterestAccrued" type="IBLAmountTypeRequired"/>
																<xs:element name="GrossCreditInterest" type="IBLAmountTypeRequired"/>
																<xs:element name="NetCreditInterest" type="IBLAmountTypeRequired"/>
																<xs:element name="AccountForApplication" type="IBLFourteenCharsType"/>
																<xs:element name="PreNotifiedDebitInterest" type="IBLAmountTypeRequired"/>
																<xs:element name="DebitInterest" type="IBLAmountTypeRequired"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TotalResultsRetrieved" type="IBLResultsType"/>
				<xs:element name="ReportGenerated" type="IBLDateTimeTypeRequired"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
