src/wpp/schemas/IBLTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.1">
  <xs:annotation>
		<xs:documentation>		
		</xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This schema can be downloaded from i|Site application at the URL
      https://isite.bankofscotland.co.uk/Schemas/IBLTypes.xsd
    </xs:documentation>
  </xs:annotation>
  
  <xs:simpleType name="IBLCharSet">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[a-zA-Z0-9\s!&amp;\(\)\-=:;@'\.\?/\\]*$" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLDateTimeTypeRequired">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/((19|20|99)\d\d)(\s{1})([0-1][0-9]|[2][0-3]):([0-5][0-9])">
        <xs:annotation>
          <xs:documentation>
            Format: Date/Month/Year Hour:Minutes

            Example -	08/08/2005 23:59
            Remarks - Supports 01/01/1900 00:00 to 31/12/9999 23:59
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLDateTypeRequired">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20|99)\d\d">
        <xs:annotation>
          <xs:documentation>
            Format: Date/Month/Year
            
            Example -	08/08/2005
            Remarks - Supports 01/01/1900 to 31/12/9999 
          </xs:documentation>
        </xs:annotation>        
      </xs:pattern>      
    </xs:restriction>    
  </xs:simpleType>

  <xs:simpleType name="IBLDateType">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^((0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/((19|20|99)\d\d))|^$">
        <xs:annotation>
          <xs:documentation>
            Format: Date/Month/Year

            Example -	08/08/2005
            Remarks - Supports 01/01/1900 to 31/12/9999
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLTransactionCountType">
    <xs:restriction base="xs:long">
      <xs:annotation>
        <xs:documentation>
          Remarks - minimum numeric value 0
        </xs:documentation>
      </xs:annotation>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLResultsType">
    <xs:restriction base="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Remarks - minimum numeric value 0
        </xs:documentation>
      </xs:annotation>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
    
  <xs:simpleType name="IBLSortcodeTypeRequired">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^\d{6}$" >
        <xs:annotation>
          <xs:documentation>
            Format: dddddd, where d is any digit within 0 to 9
            
            Example -	102030
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLAccountNumberType">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^\d{5}(([a-zA-Z]{3})|(\d{1}))\d{2}$|^$" >
        <xs:annotation>
          <xs:documentation>
            Format: Supports both Sterling and International account number

            Example -	12345678
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLInternationalAccountNumberType">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^\d{5}[a-zA-Z]{3}\d{2}$|^$" >
        <xs:annotation>
          <xs:documentation>
            Format: dddddcccdd or blank, where d is any digit within 0 to 9 and c is any character between A to Z

            Example -	12345GBP67
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLSterlingAccountNumberType">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^\d{8}$|^$" >
        <xs:annotation>
          <xs:documentation>
            Format: dddddddd or blank, where d is any digit within 0 to 9

            Example -	10203040
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLNationalInsuranceNumberType">
    <xs:restriction base="IBLCharSet">
      <xs:pattern value="^[A-Z]{2}\d{6}[A-Z]{1}$|^\s*" >
        <xs:annotation>
          <xs:documentation>
            Example -	XX999999X
          </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLCurrencyTypeRequired">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[a-zA-Z]{3}$" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLAmountTypeRequired">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="^[-+]?\d{1,13}(?:\.\d{0,2})?$" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLFourThousandCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4000" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLOneHundredAndFiftyCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="150" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLOneHundredAndTwentyCharsType">
	<xs:restriction base="xs:string">
		<xs:maxLength value="120" />
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLHundredCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLHundredCharsTypeRequired">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLEightyCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="IBLSixtyCharsType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>
  
  <xs:simpleType name="IBLFiftyCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLFiftyCharsTypeRequired">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLFortyCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  
  
  <xs:simpleType name="IBLFortyCharsTypeRequired">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLThirtyNineCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="39" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLThirtyCharsTypeRequired">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLThirtyCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLTwentyCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="IBLTwentyCharsTypeRequired">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLFourteenCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLTwelveCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IBLElevenCharsType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="IBLEightCharsType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IBLOneCharTypeRequired">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
	
</xs:schema>